html, body{ font-family:arial; font-size:12px; font-size-adjust:inherit; font-stretch:normal; font-variant:normal; font-style:normal; margin:0; padding:0; height:100%}

a {color:#19191a; text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{border:none;}
a img{border:none;}
form{margin:0; padding:0;}
ul { margin: 0; padding: 0; list-style-type: none }
.fll{float:left;}
.flr{float:right;}
.fln{float:none;}
.flh{float:inherit;}
.cll{clear:left;}
.clr{clear:right;}
.clb{clear:both;}
.txtB{font-weight:bold!important;}
.txtN{font-weight:normal!important;}
.txtL{text-align:left!important;}
.txtR{text-align:right!important;}
.txtC{text-align:center!important;}
.txtRed{color:#cf2121!important}
.fw100{float:left; width:100%;}
.w100{width:100%!important}
.wauto{width:auto!important;}
.dpN{display:none!important;}
.dpB{display:block!important;}
.dpI{display:inline!important; margin:0!important; padding:0!important; vertical-align:middle}
.ovh{overflow:hidden!important}
.mt-10{margin-top:10px!important}
.pd-55{padding-left:5px!important; padding-right:5px!important;}
.ul-main, .ul-none ul{list-style:none; margin:0; padding:0;}
.split{padding:0 5px; display:inline-block;}
.br-0{border-right:none!important}
.grb { z-index: 9; margin: auto; padding: 10px 0 10px 0;
    overflow: hidden;
    background: linear-gradient(#dbb574 0%, #ca8c53 100%);
    border: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(bottom right, #6E3118 0%, #ba8144 500%);
    -webkit-border-image: -webkit-linear-gradient(bottom right, #6E3118 0%, #ba8144 50%);
    border-image: linear-gradient(to top, #6E3118 0%, #ba8144 50%);
    border-image-slice: 1;}
.cencol {
    background: linear-gradient(#FFF4CF 0%, #FFF4CF 100%)
}
p.see_more {text-align: right !important; padding: 15px 8px 0 0 !important}
p.see_more a {text-decoration: underline; color: #000; font-size: 11px; font-style: italic}
p.see_more a:hover {color: #fff}
.box { width: 100%; border-radius: 5px; margin-bottom: 3px}
textarea {font-family: Arial; font-size: 12px}

.fonts{font-family: Arial;}
p{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{margin:0; padding:0 0 15px;}
input[type="text"], input[type="password"],
select, textarea{background-color: #E4D197; border: 1px solid #B78A4F; border-radius: 4px; height: 22px; }
input[type="button"], input[type="submit"], input[type="reset"], .btn{
	background: #d02c2d; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d95352', endColorstr='#d02c2d'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#d95352), to(#d02c2d)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #d95352,  #d02c2d); /* for firefox 3.6+ */
	border:1px solid #a41a18; color:#fff; font-size:12px; font-family: Arial; font-weight:bold;
	margin:0; padding:3px 10px 2px; overflow:visible; cursor:pointer; text-transform:uppercase; border-radius: 4px
}
a.btn{display:inline-block; padding:5px 15px}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .btn:hover{
	text-decoration:none;
	background: #b12525; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b94747', endColorstr='#b12525'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#b94747), to(#b12525)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #b94747,  #b12525); /* for firefox 3.6+ */	
}
.btnRed{background:#c81e1e; border:none; color:#fff; font-weight:bold; padding:5px 15px;}
a.btnRed{display:inline-block}

.icon1{background:url(../images/icon1.png) no-repeat; width:0; height:36px; display:inline-block; padding-left:36px; overflow:hidden; vertical-align:middle}
.icon2{background:url(../images/icon2.png) no-repeat; width:0; height:41px; display:inline-block; padding-left:21px; overflow:hidden; vertical-align:middle}
.icon3{background:url(../images/icon3.png) no-repeat; width:0; height:14px; display:inline-block; padding-left:14px; overflow:hidden; vertical-align:middle}
.heading{font-size:20px; font-weight:normal; padding:0; margin-bottom:7px; text-transform:uppercase; color:#cf2121;font-family: Arial;}
.heading a{color:#cf2121}
.heading .icon3{margin-left:3px}
.result{background:#19191a; border-radius:3px; display:inline-block; padding:3px 5px; color:#fff; white-space:nowrap; text-align:center;}

.wrapper{min-height:100%; position:relative; overflow:hidden;}
.wrappage{width:1069px; margin:0 auto; position: relative; z-index: 1 }

.header{height:80px; background: url(../img/utils/bg/top_bn.png) no-repeat top center; }
.header .logo{margin-top:20px;}
.top{margin-top:50px; border-radius: 3px; padding: 1px 2px 2px 2px;
background: rgb(246,230,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */ }
.top a { display: inline-block; text-align: left; color: #000; text-decoration: none; font-size: 11px }
.top a.active { font-weight: bold; color: #fff}
.top .lang_eng { background:url(../img/head/eng.png) no-repeat left center;padding: 0 5px  0 28px}
.top .lang_khmer { background:url(../img/head/cam.png) no-repeat right center;padding: 0 28px 0 5px }
.top .lang_sep { color: gray }

.navMain{background:#13817E; padding-top:1px;}
.navMain a:hover{
	text-decoration:none;
	box-shadow: 0 0 10px rgba(1, 0, 0, 0.5) inset;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out
}
.navMain > ul{background:#13817E url(../img//menu/menu-gradient.png) repeat-x top center; width:100%; height:46px;}
.navMain > ul > li{float:left; font-size:18px;}
.navMain ul li:hover{position:relative;}
.navMain > ul > li > a{display:block; padding:10px 35px; line-height:24px; text-transform:uppercase; color:#fff;}
.navMain > ul > li.li-first > a, .navMain > ul > li.li-last > a{padding:17px 34px;}
.navMain > ul > li.li-last > a{padding-right:35px}
.navMain > ul > li > a img{vertical-align:middle; margin-top:1px;}
.navMain > ul > li > a:hover, .navMain > ul > li > a.active{background:#ad1c1c url(../images/menu-active-gradient.png) repeat-x top center; }
.navMain > ul ul{background:#232323; position:absolute; top:100%; left:0; width:180px;border-bottom:3px solid #cf2121; display:none; z-index: 200 }
.navMain > ul ul li{float:none;}
.navMain > ul ul li a{display:block; color:#C1C1C1; padding:5px 15px; font-size:16px; font-family:Arial, Helvetica, sans-serif}
.navMain > ul ul li a:hover{background:#cf2121;}
.navMain ul li:hover ul{display:block}

.adTop{background-color: #ccc; padding:1px 0;}
.adTop ul li{width:222px; height:124px; float:left; margin-left:22px; overflow:hidden;}
.adTop ul li img{width:222px;}

.mainpage{background:#fff; padding:0px 8px 20px 8px; min-height: 500px; }
.main-left{width:190px}
.main-right{width:190px}
.main-center{width:671px; margin: 0 1px}
.main-left1{width:190px}
.main-right1{width:860px; margin: 0}

.tbl{border:1px solid #313131; border-top-width:3px; border-collapse:collapse;}
.tbl tr th{font-weight:bold; padding:10px}
.tbl tr td{border:1px solid #d8d8d8; padding:10px; background:#fff;}
.tbl tr td.td-icon{padding:10px 5px; width:1px;}
.tbl tr.tr-odd td{background:#f5f5f5}
.tblnone tr.tr-odd td{background:#fff}
.tbl tr.tblHead.tr-first td:first-child, .tbl tr.row-red td:first-child{border-left:1px solid #313131;}
.tbl tr.tblHead.tr-first td:last-child, .tbl tr.row-red td:last-child{border-right:1px solid #313131;}
.tbl tr.row-red.tr-last td{border-bottom:1px solid #313131;}
table tr td img{vertical-align:middle}
.tbl tr.tblHead td, .tbl tr.tblHead th{
	text-align:center;
	background: #000000; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#000000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #292929,  #000000); /* for firefox 3.6+ */
	font-weight:normal; color:#fff;
}
.tbl tr.tblHead td a, .tbl tr.tblHead th a{color:#fff}
.tbl tr.tblHead td.td-col, .tbl tr.tblHead th.td-col{
	background: #151515; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#151515'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#151515)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #292929,  #151515); /* for firefox 3.6+ */	
}
.tbl tr.tblHead.row-sub td, .tbl tr.tblHead.row-sub th{
	background: #000000; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#141414', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#141414), to(#000000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #141414,  #000000); /* for firefox 3.6+ */	
}
.tbl tr.row-red td{background:#c21c1c; color:#fff}
.tbl tr.tblHeadSub td, .tbl tr.tblHead td.td-red{
	color:#fff;
	background: #bf2222; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c74f4f', endColorstr='#bf2222'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#c74f4f), to(#bf2222)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #c74f4f,  #bf2222); /* for firefox 3.6+ */
}

.tblSub2 th{border:1px solid #d8d8d8; background:#f3f3f3; color:#000}
.tblSub{border:none; border-collapse:collapse; border-top:3px solid #313131; background:#f5f5f5;}
.tblSub th, .tblSub td{padding:8px; border-bottom:1px solid #d8d8d8;}
.tblSub td:first-child, .tblSub th:first-child{border-left:1px solid #d8d8d8;}
.tblSub td:last-child, .tblSub th:last-child{border-right:1px solid #d8d8d8;}
.tblSub tr.tr-last td{border-bottom:1px solid #d8d8d8;}
.tblSub td .split{padding:0 2px}
.tblSub th{border-bottom-color:#9b9b9b}

.tblResult td{padding:8px 3px}
.tblResult .result{width:30px; padding:3px 0}

.tblSort tr.tblHead td, .tblBold tr.tblHead th{font-weight:bold}
.tblSort td:first-child, .tblSort th:first-child{border-left:1px solid #313131;}
.tblSort td:last-child, .tblSort th:last-child{border-right:1px solid #313131;}
.tblSort tr.tr-last td{border-bottom:1px solid #313131;}

.tbl tr td.br-0{border-right:none;}
.tbl tr td.bl-0{border-left:none;}
.tbl tr td.bt-0, .tbl.bt-0, .tblSort.bt-0{border-top:none;}
.tbl tr td.bb-0, .tbl.bb-0, .tblSort.bb-0{border-bottom:none;}
.tbl0 tr td ,.tbl td.pd-0{padding:0}
.tbl tr.bg-f td{background:#fff!important}

.footer{color:#919191; padding-bottom:17px; background:#0b0b0b; }
.footer a{color:#919191;}
.footer p{padding:0 0 3px}
.navBottom{
	padding:8px 0; font-size:12px; margin-bottom:15px; text-align: center;
	background: #bf2222; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c81e1e', endColorstr='#a41a18'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#c81e1e), to(#a41a18)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #c81e1e,  #a41a18); /* for firefox 3.6+ */
}
.navBottom ul li{display:inline-block;}
.navBottom ul li a{display:inline-block; color:#fff; text-transform:uppercase; padding:0 20px; font-weight:bold}
.navBottom ul li + li{border-left:2px solid #fff;}

.catg{border-top:3px solid #313131;}
.catg li{overflow:hidden; display:block; clear:both; vertical-align:middle}
.catg li img{vertical-align:middle; margin:0 4px 0 7px;}
.catg li a{
	display:block; border-bottom:1px solid #a9a9a9; color:#000; font-weight:bold; line-height:30px;
	background: #efefef; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #efefef); /* for firefox 3.6+ */
}
.catg li a:hover, .catg li a.active{
	color:#fff; text-decoration:none;
	background: #010101; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#010101'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#010101)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #262626,  #010101); /* for firefox 3.6+ */
}
.navSetting li a{padding-left:15px}

.paging{background:#19191a; float:right; padding:1px; border-radius:3px; color:#fff; margin-top:10px;}
.paging ul li{display:inline-block; padding:0 8px; line-height:20px;}
.paging ul li a{color:#fff;}
.paging ul li + li{border-left:1px solid #fff}

.rewards ul{margin-left:-34px}
.rewards ul li{float:left; width:320px; height:318px; margin-left:34px}
.rewards ul li div{border:1px solid #313131; border-top-width:3px; overflow:hidden;}
.rewards ul li div img{width:318px; height:216px; margin-bottom:2px;}
.rewards ul li div span{display:block; background:#cf2121; color:#fff; font-size:18px; padding:5px 0; text-align:center}
.rewardsnew{background:#f5f5f5; border-top:3px solid #313131; border-bottom:3px solid #cf2121; padding:15px;}
.rewardsnew div{padding-bottom:10px;}
.rewardsnew p{padding:10px 0 0}
.rewardsone{border-top:3px solid #313131;}
.rewardsone img{display:block; width:100%; margin-bottom:3px}
.rewardsone span{display:block; background:#cf2121; color:#fff; font-size:18px; padding:5px 0; text-align:center}

.comm{font-size:24px; color:#cf2121; font-weight:bold; line-height:14px;}

.topone{width:320px}

#toTop{background:url(../images/toTop.png) no-repeat; display:inline-block; overflow:hidden; height:32px; width:0; padding-left:32px; position:fixed; bottom:20px; right:20px; cursor:pointer;}

.searchleft{margin:10px 0; position:relative;}
.searchleft input[type="text"]{width:648px}
.searchleft input[type="submit"]{background:url(../images/search.png) no-repeat!important; border:none; padding:0; text-indent:-1000px; width:12px; height:12px; position:absolute; top:12px; right:20px;}

.question p{padding:0 0 10px}

.comment textarea{width:96%; height: 50px} 
.avatar{width:70px}
.avatar img{display:block; margin-top:3px}
.comment-box{color:#6f6f6f; width:582px; position:relative;}
.comment-txt{background:#f2f1f1; border:1px solid #d1d1d1; padding:10px; color:#313131; margin:3px 0 7px;}
.comment-txt:before {
   content:"";
   position:absolute;
   width: 7px;
   height: 12px;
   background:url(../images/comment-icon.jpg) no-repeat;
   margin: 3px 0 0 -17px;
}


/*=================================Fix IE8========================================
	.navmain li{padding:0 18px 0 13px\0/}*/

/*=================================Fix IE9=========================================
	:root .navmain li{padding:0 18px 0 14px\0/IE9;}*/

/*=================================Fix Chrome=========================================*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.navMain > ul > li.li-first > a{padding:17px 35px;}
	.navMain > ul > li.li-last > a{padding:17px 35px}
}

/*=================================Fix Opera=========================================
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	.navmain li{padding:0 18px 0 13px;}
}*/