
/* default.ascx */
.def_header { margin-bottom: 10px; }
.def_body { border: 1px solid #3954A2; margin-bottom: 10px; min-height: 500px; padding: 8px; overflow: hidden }
.def_left { width: 644px; float: left }
.def_right { width: 329px; float: right }
.def_footer { border: 1px solid #3954A2; overflow: hidden }

/* fe_fullwide.ascx */
.fw_header { margin: 0 auto 10px auto; width: 998px }
.fw_body { min-height: 500px; overflow: hidden; }
.fw_footer { border: 1px solid #3954A2; overflow: hidden; margin: 0 auto; width: 998px }

/* ucp default.ascx */
.ucp_def_header { margin-bottom: 0px; }
.ucp_def_body { margin-bottom: 10px; min-height: 500px; padding: 8px; overflow: hidden }
.ucp_def_left { width: 13%; float: left; background-color: #DEECF9; padding: 4px; color: #fff }
.ucp_def_right { width: 86%; float: right }
.ucp_def_footer { border: 1px solid #3954A2; overflow: hidden }

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 270px;
}

/* Make the image responsive */
.container img {
  width: 80%;
  height: auto;
  opacity: 0.6;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}