*{margin: 0;} /*định dạnh cho tất cả các thẻ*/
body{
	background-color: #efffff;
	color: #555;
	font-family: Arial;
	font-size: 14px;
}

table{
	width: 100%;
	font-size: 14px;
}

th, td{
	padding: 8px 5px; /*8: trên dưới 5: trái phải*/
}

th{
	background: #666;
	color: #fff;
	text-transform: uppercase; /*kiểu viết chữ*/
}

.lc{
	text-align: right;
	font-weight: bold;
	padding-top: 5px;
}
/*--------------------FORM ELEMENTS-------------------------*/
input, textarea, select{
	padding: 6px;
	border: 1px solid #aaa;
	border-radius: 5px; /*độ bo góc*/
	font-size: 13px;
	color: #333;
}



/*--------------------A ELEMENTS--------------------------*/
a{
	text-decoration: none;
	color: #888;
	font-family: tahoma;
}

a:hover{
	color: #111;
}

.clr{
	clear: both;
}