/*--------main width--------*/

.main1200{
    max-width: 1200px;
    min-width: 800px;
    
}

.main1100{
    max-width: 1100px;
    min-width: 800px;
    background-color: aqua;
    height: auto;
}

.main1024{
    max-width: 1024px;
    min-width: 800px;
    
}

.main1080{
    max-width: 1081px;
    min-width: 800px;
    
    
}

.main1070{
    max-width: 1050px;
    min-width: 800px;
    
}

.main1200, .main1024, .main1100, .main1080, .main1070{
    margin: 0 auto;
    padding: 0 auto;
}







/*--------row elements--------*/
.row{
	width:100%;
	margin: 20px 0;
}
.row:after{
	clear: both;
}



/*--------collumn elements--------*/
.c1{width:8.33%}
.c2{width:16.56%}
.c3{width:25%}
.c4{width:33.33%}
.c5{width:41.67%}
.c6{width:50%}
.c7{width:58.33%}
.c8{width:65.67%}
.c9{width:75%}
.c10{width:83.33%}
.c11{width:91.67%}
.c12{width:100%}

.c20{width:20%}
.c40{width:40%}
.c60{width:60%}
.c80{width:80%}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c20, .c40, .c60, .c80{
	
	float:left;
}

body{
    background-image: url(images/25bestbeautifulflowerswallpaper001.JPG);
    background-attachment: fixed;
}

.top{
    float: right;
    font: tahoma 14px normal;
    
}

.top a{
    text-decoration: none;
}

.banner img{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
}

.menu{
    padding: 0;
    margin: 0;
    background: blue;
}
.menu ul{
    padding-left: 0;
    margin-top: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    position: relative;
    background: blue;
}

.menu ul li{
    text-align: center;
    width: 80px;
    display: inline-table;
    list-style-type: none;
    float: left;
    border-right: 100px silid white;
}

.menu ul li a{
    text-decoration: none;
    color: #ffff;
    display: block;
    
}

.menu ul a:hover {
    background: red;
}

.menu ul li ul{
    display: none;
}

.menu ul li:hover ul{
    display: block;
    position: absolute;
    background: blue;
    width: 80px;
    height: auto;
}

.clr{
    clear: both;
}

.content{
    height: auto;
    
}

.rcontent{
    height: auto;
    
}

.lcontent{
    height: auto;
}

.lcontent-item1{
    height: 500px;
    background: white;
    border-radius: 6px;
    border: 1px inset black;
    margin-bottom: 10px;
}

.lcontent-item2{
    height: 500px;
    background: white;
    border-radius: 6px;
    border: 1px inset black;
}
.lcontent iframe{
    padding: 20px 75px;
}

.lcontent h3{
    text-indent: 15px;
    padding: 20px;
    background-image: url(images/caobap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

.header{
    
    background: #aaa;
    margin: 0px auto;
    padding: 5px;
    text-align: center;
    font: bolder14px tahoma;
    
}

.header-rcontent{
    height: auto;
    width: 87%;
    border-radius: 8px;
    
}

.header-rcontent-sub{
    height: 15px;
    width: 60%;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rcontent-item{
    
    width: 87%;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
}
.item0{
    height: 300px;
    background-color: aliceblue;
    border: 1px solid #000;
}
.item1{
    height: 200px;
    background: #ddd;
    border: 1px solid #000;
    padding-top: 30px;
}

.item2{
    height: 220px;
    background: #ddd;
    padding-top: 30px;
    border: 1px solid #000;
}

.item2 a{
    border-left: 3px double #000;
    border-bottom: 1px dotted #000;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 3px;
}

.item2 a:hover{
    background-color: bisque;
    text-decoration: underline;
    color:darkorange;
}

.item3{
    height: auto;
    background: #ddd;
    border: 1px solid #000;
    
}

.lc{
    font: normal 14px tahoma;
    text-align: center;
}
input{
    padding: 5px;
    margin-bottom: 10px;
    text-align:left
}

.rcontebt-item a{
    text-decoration: none;
    font: bolder 11px tahoma;
}

p{
    font: normal 14px tahoma;
    text-indent: 20px;
}


